<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<insert id="insertMember" parameterType="kr.or.ddit.mvc.vo.MemberVO">
	insert into mymember (mem_id, mem_pass, mem_name, mem_tel, mem_addr )
		values(#{mem_id}, #{mem_pass}, #{mem_name}, #{mem_tel}, #{mem_addr}) 
	</insert>
	
	<delete id="deleteMember" parameterType="String">
	delete from mymember where mem_id = #{mem_id}
	</delete>
	
	<update id="updateMember" parameterType="kr.or.ddit.mvc.vo.MemberVO">
	update mymember set
	mem_pass=#{mem_pass} , mem_name=#{mem_name}, mem_tel=#{mem_tel}, mem_addr=#{mem_addr}
	where mem_id=#{mem_id}
	</update>
	
	<select id="getAllMember" resultType="memberVo">
	select * from mymember
	</select>
	
	<select id="getMemberCount" parameterType="String" resultType="int">
	select count(*) cnt from mymember where mem_id=#{mem_id}
	</select>
	
	
	<!-- 
		Map을 파라미터로 받아서 처리할 때의 변수명 역할은 Map의 key값으로 한다.
		파라미터로 가져온 값을 컬럼명과 같은 자리에서 사용할 경우에는
		달러($) 기호를 사용해서 나타낸다.
		예) ${벼수명} 또는 ${key값}
		
	 -->
	 <!-- 
	 key 정보 ==> 회원ID(memberID), 수정할 컬럼명(fieldName), 수정할 데이터(data)
	  -->
	<update id="updateMember2" parameterType="map">
	update mymember set ${fieldName}= #{data}  where mem_id= #{memberID}
	</update>
	
	
</mapper>