<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jdbc">
	
	<insert id="insertlprod" parameterType="kr.or.ddit.vo.LprodVO">
	insert into lprod (lprod_id, lprod_gu, lprod_nm)
		values (#{lprod_id}, #{lprod_gu}, #{lprod_nm})
	</insert>
	
	<select id="getNextId" resultType="int">
	select nvl(max(lprod_id), 0) + 1 from lprod
	</select>
	
	<select id="getlprodCount" parameterType="String" resultType="int">
	select count(*) cnt from lprod where lprod_gu = #{lprod_gu}
	</select>

</mapper>